#nav-hover{
    border-left: 0;
    border-right: 3px solid #fff;
}


.main a{
    background: gold;
    color: black;
    padding: 4px;
    margin: 4px;
}
.main a:hover{
    opacity: 70%;
}
.plansza-form input[type="submit"]:hover{
    background: gold;
}
.logged{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tableTitle{
    font-size: 30px;
    color: gold;
}

.main table th{
    padding: 4px;
}
.main table thead{
    color: white;
}

.plansza-tlo
{
    background: rgba(117,117,117,1);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 6vh;
    width: 90%;
    min-height: 80vh;
    flex-direction: column;
   color: black;
    display: flex;
    align-items: center;
} 
.login{
    color: gold;
    font-size: 30px;
    margin: 40px 0;
}


.plansza-form input{
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 4px;
    display: block;
    outline: none;
    height: 23px;
    text-align: center;
    border-radius: 10vw;
    color: rgba(117,117,117);
}
.plansza-form form{
    display: flex;
    align-items: center;
}
.plansza-form input[type="submit"]
{
    width: auto;
    background: gold;
}
.plansza-form input[type="submit"]:hover{
    opacity: 70%;
}




